ul.topnav {
    list-style-type: none;
    margin: 0; /* Updated */
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 216, 221); /* Change to pink */
    border-top: 5px solid #ce6d47; /* Added top border */
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black; /* Change text color to black */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #e58fb3; /* Darker shade of pink */
}

ul.topnav li a.active {
    background-color: #e58fb3; /* Darker shade of pink */
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
